<div class="mt-8">
  <h1 class="text-4xl text-center font-bold">COURSES</h1>
  <table class="flex justify-center mt-5 text-lg w-11/12 m-auto">
    <tr class="bg-blue-200 text-center border-2 border-black">
      <th class="border-2 border-black">CODE</th>
      <th class="border-2 border-black">COURSE</th>
      <th class="border-2 border-black">CATEGORY</th>
      <th class="border-2 border-black">DESCRIPTION</th>
      <th class="border-2 border-black px-2">PLACES</th>
      <th class="border-2 border-black px-2">PRICE</th>
    </tr>
    {{#each products.docs}}
      <tr class="text-center border-2 border-black">
        <td class="border-2 border-black px-2">{{this.code}}</td>
        <td class="border-2 border-black px-2">{{this.title}}</td>
        <td class="border-2 border-black px-2">{{this.category}}</td>
        <td
          class="border-2 border-black text-start px-2"
        >{{this.description}}</td>
        <td class="border-2 border-black px-2">{{this.stock}}</td>
        <td class="border-2 border-black">${{this.price}}</td>
      </tr>
    {{/each}}
  </table>

  <section class="block mt-5 text-2xl">
    <ul class="flex justify-center items-center gap-3">
      {{#if products.hasPrevPage}}
        <li><a
            class="cursor-pointer px-2 pb-1 text-blue-300 rounded-full hover:bg-blue-300 hover:text-white active:bg-blue-400 transition-all duration-300"
            href="/home?limit={{products.limit}}&page={{products.prevPage}}{{#if sort}}&sort={{sort}}{{/if}}"
          >←</a></li>
      {{/if}}
      <li><b class="font-semibold">{{products.page}}</b>
        of
        {{products.totalPages}}</li>
      {{#if products.hasNextPage}}
        <li><a
            class="cursor-pointer px-2 pb-1 text-blue-300 rounded-full hover:bg-blue-300 hover:text-white active:bg-blue-400 transition-all duration-300"
            href="/home?limit={{products.limit}}&page={{products.nextPage}}{{#if sort}}&sort={{sort}}{{/if}}"
          >→</a></li>
      {{/if}}
    </ul>
  </section>
</div>