<div class="mt-32">
  <h1
    class="text-4xl text-center font-bold bg-blue-300 py-1 border-y-2 border-blue-500"
  >COURSES</h1>
  <main class="flex gap-5 mt-8 mx-auto justify-center">
    {{#each products.docs}}
      <article
        class="flex flex-col text-center bg-blue-50 p-3 gap-2 border-2 border-blue-300 rounded w-3/12"
      >
        <h2
          class="text-2xl pt-2 pb-4 uppercase font-semibold"
        >{{this.title}}</h2>
        <p class="text-start text-sm"><b class="font-semibold">code:</b>
          {{this.code}}</p>
        <p class="text-center italic mx-3">"{{this.description}}"</p>
        <p class="text-start"><b class="font-semibold">Category:</b>
          {{this.category}}</p>
        <p class="text-start"><b class="font-semibold">Places left:</b>
          {{this.stock}}</p>
        <div class="flex items-center mt-3 mb-1">
          <button
            class="w-full py-0.5 mr-4 ml-2 text-xl font-semibold rounded bg-gradient-to-r from-cyan-300 to-blue-300 hover:ml-0 hover:mr-2 active:py-1 active:mt-1 transition-all duration-300"
          >ADD TO CART</button>
          <p class="text-end font-semibold text-2xl">${{this.price}}</p>
        </div>
      </article>
    {{/each}}
  </main>

  <section class="block mt-5 text-2xl">
    <ul class="flex justify-center items-center gap-3">
      {{#if products.hasPrevPage}}
        <li><a
            class="cursor-pointer px-2 pb-1 text-blue-300 rounded-full hover:bg-blue-300 hover:text-white active:bg-blue-400 transition-all duration-300"
            href="/home?limit={{products.limit}}&page={{products.prevPage}}{{sortQuery}}{{queryQuery}}{{queryPlaces}}"
          >←</a></li>
      {{/if}}
      <li><b class="font-semibold">{{products.page}}</b>
        of
        {{products.totalPages}}</li>
      {{#if products.hasNextPage}}
        <li><a
            class="cursor-pointer px-2 pb-1 text-blue-300 rounded-full hover:bg-blue-300 hover:text-white active:bg-blue-400 transition-all duration-300"
            href="/home?limit={{products.limit}}&page={{products.nextPage}}{{sortQuery}}{{queryQuery}}{{queryPlaces}}"
          >→</a></li>
      {{/if}}
    </ul>
  </section>
</div>