<div class="mt-8">
  <img src="{{user.image}}" alt="User Image" class="w-16 ml-8 rounded-full" />
  <h1 class="font-bold text-4xl text-center">My Account</h1>
  <div
    class="mt-8 mx-auto w-1/4 p-3 rounded text-center text-lg bg-blue-50 border-2 border-blue-300"
  >
    <ul class="flex flex-col gap-2 items-center">
      <li><p class="italic"><span class="font-semibold">Name:</span>
          {{user.first_name}}</p></li>
      <li><p class="italic"><span class="font-semibold">Last Name:</span>
          {{user.last_name}}</p></li>
      <li><p class="italic">
          <span class="font-semibold">Email:</span>
          {{user.email}}</p></li>
      <li><p class="italic"><span class="font-semibold">Password:</span>
          ******</p></li>
      <li><p class="italic"><span class="font-semibold">Role:</span>
          {{user.role}}</p></li>
    </ul>
  </div>
  <div class="w-full text-center mt-5">
    <a
      href="/api/session/logout"
      class="px-4 py-2 text-lg form-control text-lg mt-1 bg-blue-200 font-semibold rounded-sm border-2 border-black px-1 py-.5 w-full hover:bg-blue-50 active:bg-blue-200 transition-all duration-300"
    >Logout</a>
  </div>

</div>